@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");

:root {
  --font-default: "Carattere", cursive;
}

@keyframes background-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-page {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.home-page__title {
  font-family: var(--font-default);
  font-size: 25pt;
  text-align: center;
  width: 75%;
  color: #fff;
  padding: 5px;
  background: linear-gradient(
    90deg,
    rgba(142, 0, 0, 0.777),
    rgba(255, 225, 106, 0.5)
  );
  border-radius: 50px;
  animation: background-flash 0.75s linear infinite;
}

.home-page__button {
  width: 200px;
  height: 8vh;
  font-family: var(--font-default);
  font-size: 15pt;
  background: rgb(132, 77, 77);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 15px 10px 35px 8px rgba(255, 162, 162, 0.75) inset;
  -webkit-box-shadow: 15px 10px 35px 8px rgba(255, 162, 162, 0.75) inset;
  -moz-box-shadow: 15px 10px 35px 8px rgba(255, 162, 162, 0.75) inset;
}

.home-page__button:hover {
  animation: button-animation 0.75s linear infinite;
}

@media (min-width: 769px) {
  .home-page {
    flex-flow: column;
    justify-content: space-around;
  }

  .home-page__title {
    font-size: 40pt;
    width: 200px;
    height: 210px;
    padding: 20px;
  }
}
